@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-surface-200 accent-primary;
}

.bg_enabled {
  background-image: var(--bgUrl);
  min-height: calc(100vh - var(--headerHeight));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

header.AppBar > .grid {
  justify-content: unset;
}

.TextField .input {
  @apply border-none my-0 bg-transparent;
}

.prepend > span {
  margin-right: unset;
}

.theme-selector-parent > .Button {
  @apply min-w-max;
}

.theme-selector-parent > .Button:hover, .theme-selector-parent > .Button:focus {
  @apply animate-[animateBg_1s_linear_infinite];
  background-size: 300% 100%;
  background-image: linear-gradient(to right,
    theme("colors.accent"),
    theme("colors.secondary"),
    theme("colors.accent"),
    theme("colors.secondary")
  );
}


@keyframes animateBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@font-face {
  font-family: "MTF Be Mine";
  src: url("/font_mtf-be-mine/mtf-be-mine.eot");
  src: url("/font_mtf-be-mine/mtf-be-mine.eot?#iefix")format("embedded-opentype"),
  url("/font_mtf-be-mine/mtf-be-mine.woff2")format("woff2"),
  url("/font_mtf-be-mine/mtf-be-mine.woff")format("woff"),
  url("/font_mtf-be-mine/mtf-be-mine.ttf")format("truetype"),
  url("/font_mtf-be-mine/mtf-be-mine.svg#MTF Be Mine")format("svg");
}

header.AppBar > .Icon + div {
  font-family: "MTF Be Mine";
  @apply text-3xl md:text-5xl small-header ;
  /* font-size: xxx-large; */
}
.small-header {
  @apply max-md:flex max-md:flex-wrap max-md:h-full max-md:content-end max-md:w-min;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: #535353;
  --placeholder-color: #888;
  --accent-color: #fca3ff;
  --accent-bgcolor: #000;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --border-color: #a7a7a7;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.meaning-switch-svg {
  width: 2em;
  height: auto;
} */